@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

header {
  max-width: 100em;
  margin: auto;
  padding-top: 1em;
  margin-left: 11.25em;
  padding-right: 2em;
  display: flex;
  gap: 1em;
  align-items: center;
}

.logo {
  width: 8.625em;
  height: 3em;
}

.categorias {
  display: flex;
  align-items: center;
  padding: 0 1em;
  border-radius: 0.313em;
  height: 3em;
  width: 14.5em;
}

.categorias img {
  width: 1.5em;
  height: 1.5em;
}

.categorias p {
  margin-left: 0.5em;
  font-size: 1.063em;
  color: rgb(51, 51, 51);
}

.categorias:hover {
  cursor: pointer;
  background-color: #f2f2f2;
}

.catalogo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 0.063em solid #d0d0d0;
  border-top-left-radius: 0.25em;
  border-bottom-left-radius: 0.25em;
  height: 3em;
  padding-right: 0.625em;
  margin-left: 1.5em;
  width: 13.5em;
}

.catalogo p {
  font-size: 0.875em;
  color: rgb(51, 51, 51);
  width: 11.25em;
  height: 3em;
  padding-left: 1em;
  display: flex;
  align-items: center;
}

.catalogo img {
  width: 1.5em;
}

.catalogo:hover {
  cursor: pointer;
  border: 0.063em solid black;
  transition-duration: 0.5s;
}

.buscar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 0.063em solid #d0d0d0;
  border-top-right-radius: 0.25em;
  border-bottom-right-radius: 0.25em;
  padding-left: 1em;
  padding-right: 0.625em;
  margin: -1em;
  height: 3em;
  width: 36.125em;
}

.buscar:hover {
  cursor: text;
  border: 0.063em solid black;
  transition-duration: 0.5s;
}

.buscar p {
  font-size: 1.063em;
  color: #737373;
}

.buscar img {
  width: 1.5em;
  height: 1.5em;
}

.buscar img:hover {
  cursor: pointer;
}

.cuenta {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3em;
  margin-left: 4.25em;
  width: 8em;
  border-radius: 0.313em;
}

.cuenta:hover {
  cursor: pointer;
  background-color: #f2f2f2;
}

.cuenta p {
  font-size: 1.063em;
  color: rgb(51, 51, 51);
  margin-left: 0.5em;
}

.carrito {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3em;
  width: 7.188em;
  border-radius: 0.313em;
}

.carrito:hover {
  cursor: pointer;
  background-color: #f2f2f2;
}

.carrito p {
  font-size: 1.063em;
  color: rgb(51, 51, 51);
  margin-left: 0.5em;
}

.hr-top {
  margin-top: 0.688em;
  border: 0.006em solid #dddddd;
}

.menu-secundario {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 0.5em;
  flex-direction: row;
  margin: auto;
  margin-right: 12.5em;
  width: 97.5em;
  height: 2.5em;
}

.menu-secundario li {
  display: flex;
  align-items: center;
  padding: 0.571em 1.143em;
  list-style: none;
  font-size: 14px;
  height: 100%;
  color: #333333;
  cursor: pointer;
  border-radius: 0.313em;
}

.menu-secundario li:last-child {
  font-weight: 700;
  background: linear-gradient(90deg, #ff6000, #ffc14f);
  background-clip: text;
  color: transparent;
}

.menu-secundario li:not(:last-child):hover {
  background-color: #f2f2f2;
  transition: 0.5s;
}

.hr-bot {
  border: 0.006em solid #dddddd;
}

.parrafo {
  margin-left: 12.786em;
  margin-top: 1.143em;
  margin-bottom: 1.143em;
  font-size: 14px;
}

.galeria {
  max-width: 97.5em;
  display: flex;
  gap: 1.5em;
  margin: auto;
  margin-bottom: 3.5em;
}

.galeria img {
  cursor: pointer;
  border-radius: 1em;
  width: 100%;
}

.galeria-2 {
  max-width: 97.5em;
  display: flex;
  gap: 1.5em;
  margin: auto;
  margin-bottom: 3.5em;
}

.galeria-2 img {
  cursor: pointer;
  border-radius: 1em;
}

.titulo {
  max-width: 65em;
  display: flex;
  justify-content: start;
  margin: auto;
  margin-bottom: 1.875em;
}

.ofertas {
  max-width: 97.5em;
  margin: auto;
  display: flex;
  gap: 1.5em;
  margin-bottom: 3.125em;
}

.ofertas div {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  width: 15em;
  padding: 0 1em 1em 1em;
}

.ofertas div .descuento {
  color: white;
  background-color: red;
  font-size: 12px;
  padding: 0.167em 0.333em;
  font-weight: 700;
  border-radius: 0.333em;
  width: 3.367em;
  display: flex;
  justify-content: center;
}

.ofertas div .imagen {
  width: 10.25em;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0.656em;
}

.ofertas div .container {
  display: flex;
  flex-direction: row;
  padding: 0;
  gap: 0.5em;
}

.ofertas div .trending {
  font-size: 12px;
  display: flex;
  align-items: center;
  height: 2.25em;
  background: linear-gradient(90deg, #ff6000, #ffc14f);
  color: white;
  font-weight: bold;
  padding: 0.333em 0.667em;
  border-radius: 0.417em;
}

.ofertas div .promocion {
  color: #cc4d00;
  font-size: 12px;
  padding: 0.333em 0.667em;
  width: 7.2em;
  display: flex;
  justify-content: center;
  font-weight: bold;
  border: 0.083em solid #cc4d00;
  border-radius: 0.417em;
  margin-bottom: 0.417em;
}

.ofertas div .texto {
  font-size: 14px;
  color: #333333;
  margin-bottom: 0.571em;
}

.ofertas div .precio {
  display: flex;
  flex-direction: row;
  padding: 0;
  gap: 0.5em;
}

.ofertas div .precio .red {
  font-size: 20px;
  color: #bf0019;
  font-weight: 700;
}

.ofertas div .precio .tachado {
  font-size: 14px;
  color: #737373;
  display: flex;
  align-items: center;
}

.ofertas div .valoraciones {
  padding: 0;
  margin-top: 0.5em;
  display: flex;
  flex-direction: row;
}

.ofertas div .valoraciones img {
  width: 1em;
}

.ofertas div .valoraciones img:last-of-type {
  margin-right: 0.625em;
}

.ofertas div .valoraciones p {
  font-size: 12px;
  color: #333333;
}

.ofertas div .minimo {
  color: #bf0019;
  font-size: 12px;
}

.ofertas div .pccomponentes {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin-top: 0.625em;
  gap: 0.5em;
  margin-bottom: 0.5em;
}

.ofertas div .pccomponentes img {
  width: 0.938em;
  height: 0.938em;
}

.ofertas div .pccomponentes span {
  font-size: 12px;
}

.ofertas div .envio {
  color: #118000;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 0.667em;
}

.ofertas div .recibelo {
  color: #118000;
  font-size: 12px;
}

.contenedor {
  display: flex;
  flex-direction: row;
  max-width: 97.5em;
  margin: auto;
  margin-top: 6.25em;
  gap: 1.5em;
  margin-bottom: 3.5em;
}

.contenedor img {
  cursor: pointer;
  border-radius: 0.938em;
  width: 100%;
}

.contenedor div p {
  padding: 1.143em 1.714em;
  font-size: 14px;
  color: #333333;
  font-weight: bold;
  width: 17.143em;
  text-align: center;
}

.iconos {
  width: 97.5em;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

.iconos div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 13em;
  margin-top: 0.625em;
}

.iconos div p {
  font-size: 14px;
  margin-top: 1.714em;
  color: #333333;
}

.titulo-2 {
  max-width: 65em;
  display: flex;
  justify-content: start;
  margin: auto;
  margin-top: 2em;
}

.frase {
  font-size: 14px;
  max-width: 111.429em;
  display: flex;
  justify-content: start;
  margin: auto;
  margin-top: 0.25em;
}

.tecnologia {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18.25em, 18.25em));
  max-width: 97.5em;
  margin: auto;
  margin-top: 1.875em;
  gap: 1.5em;
}

.tecnologia div {
  display: flex;
  flex-direction: column;
  width: 18.313em;
  align-items: center;
}

.tecnologia div img {
  width: 18.313em;
  border-radius: 1em;
  cursor: pointer;
}

.tecnologia div p {
  padding: 1.143em 1.714em;
  font-size: 14px;
  color: #333333;
  font-weight: bold;
}

.marca {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(372px, 1fr));
  max-width: 97.5em;
  margin: auto;
  gap: 1.5em;
  margin-top: 1.563em;
}

.marca img {
  width: 23.25em;
  border-radius: 1em;
  cursor: pointer;
}

.marca img:nth-of-type(1),
.marca img:nth-of-type(2),
.marca img:nth-of-type(3),
.marca img:nth-of-type(4) {
  margin-bottom: 2em;
}

footer {
  max-width: 116em;
  display: flex;
  justify-content: space-around;
  margin: auto;
  padding: 4em 2.286em 2.857em;
  max-height: 44.143em;
  font-size: 14px;
}

.hr-footer {
  margin-top: 1.875em;
}

footer ul {
  list-style: none;
  width: 16.125em;
  display: flex;
  flex-direction: column;
}

footer ul li {
  padding: 0.5em 2.875em 0.5em 1em;
  height: 2.5em;
  display: flex;
}

footer ul li:first-child {
  font-weight: 700;
  color: #333;
  margin-bottom: 0.313em;
}

footer ul li:not(:first-child):not(.footer-lastchild li):hover {
  cursor: pointer;
  background-color: #f2f2f2;
  transition: 0.5s;
}

footer ul li img {
  margin-right: 0.625em;
  width: 1.25em;
  height: 1.25em;
}

footer ul:last-child {
  width: 16.688em;
}

.footer-lastchild .españa select {
  font-size: 17px;
  width: 14.765em;
  height: 2.647em;
}

.footer-lastchild li:not(:first-child) {
  cursor: pointer;
}

.footer-lastchild li .visa {
  width: 100%;
  height: 3.125em;
  margin-top: 1.5em;
}

.footer-lastchild .app {
  font-weight: bold;
  margin-top: 1.25em;
}

.footer-lastchild .android {
  width: 19em;
  display: flex;
  align-items: center;
}

.footer-lastchild .android img {
  height: 1.5em;
  width: 1.5em;
}

.footer-lastchild .apple {
  width: 19em;
  display: flex;
  align-items: center;
}

.footer-lastchild .apple img {
  height: 1.25em;
  width: 1.25em;
  margin-right: 0.609em;
  margin-left: 0.188em;
}

.footer-lastchild .qr img {
  width: 8.125em;
  height: 8.125em;
}

#btn-menu {
  display: none;
}

.container-menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  transition: all 500ms ease;
  opacity: 0;
  visibility: hidden;
  z-index: 10;
}

#btn-menu:checked ~ .container-menu {
  opacity: 1;
  visibility: visible;
}

.cont-menu {
  width: 100%;
  max-width: 25em;
  background: white;
  height: 100vh;
  position: relative;
  transition: all 500ms ease;
}

.cont-menu .cruz {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 2.5em;
  margin-left: 1.25em;
  transform: translateY(20%);
  height: 2.5em;
  border-radius: 0.313em;
  color: #333333;
}

.cont-menu .cruz:hover {
  background-color: #d0d0d0;
}

.cont-menu nav {
  transform: translateY(4%);
  padding-left: 3.5em;
  display: flex;
  flex-direction: column;
  gap: 2.813em;
}

.titulos {
  display: flex;
  flex-direction: column;
  gap: 1.125em;
}

.titulos .todas-categorias {
  display: flex;
  flex-direction: row;
  gap: 2.5em;
  align-items: center;
  cursor: pointer;
}

.titulos .todas-categorias:hover {
  color: #ff6000;
}

.titulos .ofertas {
  display: flex;
  flex-direction: row;
  gap: 2.65em;
  align-items: center;
  cursor: pointer;
  background: linear-gradient(90deg, #ff6000, #ffc14f);
  background-clip: text;
  color: transparent;
  margin: 0;
}

.bold {
  font-weight: 700;
  font-size: 17px;
  display: flex;
  flex-direction: column;
  gap: 1.176em;
}

.bold p {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.bold p img {
  margin-right: 2.5em;
}

.bold p:hover {
  color: #ff6000;
}

.normal {
  display: flex;
  flex-direction: column;
  font-size: 17px;
  color: #333333;
  font-weight: 400;
  gap: 1.294em;
}

.normal p:hover {
  cursor: pointer;
  color: #ff6000;
}

.normal p span {
  background: linear-gradient(90deg, #ff6000, #ffc14f);
  background-clip: text;
  color: transparent;
  font-size: 12px;
  font-weight: bold;
  border: 0.083em solid #cccccc;
  border-radius: 0.417em;
  padding: 0.333em 0.583em;
  margin-left: 0.25em;
}
